/* Beginning of fading support section...
 * Animation configurations ( duration and fill mode )
 * This section handles the alert message fading...
*/

.animated {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*
 * FadeOut animation
*/
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
#notice {
    color: green;
    position: fixed;
    top: 55px;
    left: 50%;
    margin-left: -200px;
    z-index: 100;
    width: 400px
}
#alert {
    color: red;
    position: fixed;
    top: 55px;
    left: 50%;
    margin-left: -200px;
    z-index: 100;
    width: 400px
}
/* End of fading support section... */

/* Begin Product Show section... */

#showProduct {
    max-width:900px;
    /*width: 80%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    /*width: 1320px;*/
    top: 59px;
    padding-top: 10px;
    padding-bottom: 50px    
}

#showProduct p {
    font-family: "proxima-nova", sans-serif;
    margin: 10px 20px 20px 0;
}

.productheading {
    max-height: 500px;
    width: 100%;
}

.productimage {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.productdata {
    padding-top: 30px;
    margin-bottom: 70px;
    /*display: flex;*/
    /*flex-direction: column;*/
    align-self: center;
}

/* End Product Show section... */

.new-product-menu {
    text-align: center;
    padding-bottom: 50px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

div.c-wrapper{
  width: 100%; 
  margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
  /*width: 100%;*/ /* use this, or not */
  margin: auto;
}

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 105px;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}

#products.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1320px;
    top: 119px;
    padding-top: 50px;
    padding-bottom: 10px
}

#formfors.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1320px;
    top: 130px;
    padding-bottom: 70px
}
#login.container,
#signup.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1320px;
    top: 80px;
    padding-bottom: 70px
}
.edit_product,
.new_product {
    width: 300px
}
.row {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
#featured .card,
#products .card {
    width: 300px;
    margin: 30px 15px 0px 15px;
    height: 400px;
    background-color: white;
    border: 1px solid #e4e4e4;
    position: relative;
    border-radius: 7px;
    overflow: auto;
}
#featured .card:hover,
#products .card:hover {
    border: 1px solid white;
    -webkit-box-shadow: 0px 10px 40px 3px #e0e0e0;
    -moz-box-shadow: 0px 10px 40px 3px #e0e0e0;
    box-shadow: 0px 10px 40px 3px #e0e0e0;
    transition: .25s ease
}
.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: auto;
    height: 170px;
    width: 298px;
    /*padding: 15px;*/
}
.wrap {
    /*overflow: hidden;*/
    overflow: auto;
}
.card-block {
    position: absolute;
    top: 195px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    z-index: 1;
    background-color: white;
    width: 298px;
    padding-left: 15px;
    padding-right: 15px;
}
.card-title {
    font-size: 20px;
    margin-bottom: 5px;
    max-width: 225px;
    word-wrap: break-word
}
.card-text {
    max-width: 258px;
    font-weight: 400;
    font-family: "proxima-nova", sans-serif;
    /*font-family: 'Audiowide', cursive, sans-serif;*/
    font-size: 12px;
    margin: 10px 0px;
    /*padding: 15px;*/
}
.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 12px 15px;
    border: 0;
    background-color: white;
    z-index: 3
}
#CardTitle_Share {
    display: flex;
    justify-content: space-between
}
.card-text {
    /*overflow: hidden;*/
    overflow: auto;
    margin-bottom: 0;
    z-index: 1
}
.fade-anchor {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 0px, #fff 30px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 0px, #fff 30px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-transition: background 150ms ease-in;
    transition: background 150ms ease-in;
    z-index: 2
}
@media screen and (max-width: 1550px) {
    #stories.container,
    #categories.container,
    #mystories.container,
    .cat {
        width: 990px
    }
}
@media screen and (max-width: 1016px) {
    #stories.container,
    #categories.container,
    #mystories.container,
    .cat {
        width: 660px
    }
}
@media screen and (max-width: 686px) {
    #stories.container,
    #categories.container,
    #mystories.container,
    .cat {
        width: 330px
    }
}
@media screen and (max-width: 1550px) {
    #products.container,
    #formfors.container,
    #login.container,
    #signup.container {
        width: 990px
    }
}
@media screen and (max-width: 1016px) {
    #products.container,
    #formfors.container,
    #login.container,
    #signup.container {
        width: 660px
    }
}
@media screen and (max-width: 686px) {
    #products.container,
    #formfors.container,
    #login.container,
    #signup.container {
        width: 330px
    }
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #d8d8d5;
    background-color: white;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 50px;
    font-size: 18px
}
#products.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1320px;
    top: 119px;
    padding-bottom: 10px
}
#formfors.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1320px;
    top: 130px;
    padding-bottom: 70px
}
#login.container,
#signup.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1320px;
    top: 80px;
    padding-bottom: 70px
}
.edit_product,
.new_product {
    width: 300px
}
.row {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
#featured .card,
#products .card {
    width: 300px;
    margin: 30px 15px 0px 15px;
    height: 400px;
    background-color: white;
    border: 1px solid #e4e4e4;
    position: relative;
    border-radius: 7px;
    overflow: auto;
}
#featured .card:hover,
#products .card:hover {
    border: 1px solid white;
    -webkit-box-shadow: 0px 10px 40px 3px #e0e0e0;
    -moz-box-shadow: 0px 10px 40px 3px #e0e0e0;
    box-shadow: 0px 10px 40px 3px #e0e0e0;
    transition: .25s ease
}
.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: auto;
    height: 170px;
    width: 298px
}
.wrap {
    overflow: auto;
}
.card-block {
    position: absolute;
    top: 195px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    z-index: 1;
    background-color: white;
    width: 298px
}
.card-title {
    font-size: 20px;
    margin-bottom: 5px;
    max-width: 225px;
    word-wrap: break-word
}
.card-text {
    max-width: 258px;
    font-weight: 400;
    font-family: "proxima-nova", sans-serif;
    font-size: 15px;
    margin: 10px 0px
}
.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 12px 15px;
    border: 0;
    background-color: white;
    z-index: 3
}
#CardTitle_Share {
    display: flex;
    justify-content: space-between
}
.card-text {
    overflow: auto;
    margin-bottom: 0;
    z-index: 1
}
.fade-anchor {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 0px, #fff 30px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 0px, #fff 30px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-transition: background 150ms ease-in;
    transition: background 150ms ease-in;
    z-index: 2
}
@media screen and (max-width: 1550px) {
    #stories.container,
    #categories.container,
    #mystories.container,
    .cat {
        width: 990px
    }
}
@media screen and (max-width: 1016px) {
    #stories.container,
    #categories.container,
    #mystories.container,
    .cat {
        width: 660px
    }
}
@media screen and (max-width: 686px) {
    #stories.container,
    #categories.container,
    #mystories.container,
    .cat {
        width: 330px
    }
}
@media screen and (max-width: 1550px) {
    #products.container,
    #formfors.container,
    #login.container,
    #signup.container {
        width: 990px
    }
}
@media screen and (max-width: 1016px) {
    #products.container,
    #formfors.container,
    #login.container,
    #signup.container {
        width: 660px
    }
}
@media screen and (max-width: 686px) {
    #products.container,
    #formfors.container,
    #login.container,
    #signup.container {
        width: 330px
    }
}
/*.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #d8d8d5;
    background-color: white;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 59px;
    font-size: 18px
}*/
body {
    background-color: #fff;
    color: #333;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    /*line-height: 18px;*/
    margin: 0px;
}
p,
ol,
ul,
td {
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 18px;
    margin: 33px
}
pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px
}
/*a {*/
    /*color: #000*/
/*}*/
th {
    padding-bottom: 5px
}
td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px
}
div.field,
div.actions {
    margin-bottom: 10px
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table
}
#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0
}
#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff
}
#error_explanation ul li {
    font-size: 12px;
    list-style: square
}
label {
    display: block;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    /*line-height: 18px;*/
    margin: 0px
}
p,
ol,
ul,
td {
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 18px;
    margin: 33px
}
pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px
}
/*a {
    color: #000
}*/
th {
    padding-bottom: 5px
}
td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px
}
div.field,
div.actions {
    margin-bottom: 10px
}
#notice {
    color: green;
    position: fixed;
    top: 74px;
    left: 50%;
    margin-left: -200px;
    z-index: 100;
    width: 400px
}
#alert {
    color: red;
    position: fixed;
    top: 74px;
    left: 50%;
    margin-left: -200px;
    z-index: 100;
    width: 400px
}
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table
}
#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0
}
#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff
}
#error_explanation ul li {
    font-size: 12px;
    list-style: square
}
label {
    display: block;
}

.SearchForm,
.SearchFormSidenav {
    display: flex
}
#homepage.container {
    width: 80%;
    padding-top: 59px
}
#contactpage.container {
    width: 80%;
    top: 89px
}
#featured.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1320px;
    top: 59px;
    padding-bottom: 70px
}
#new_user {
    width: 300px
}
#featured>h2 {
    padding-top: 30px
}

.brand {
    font-family: 'Audiowide', cursive, sans-serif;
    display: flex;
    align-items: center;
    width: 400px
}
.brand a {
    color: white;
    text-decoration: none;
    font-size: 22px
}

/*nav {
    position: fixed;
    background-color: #1f1f1f;
    height: 59px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 10
}
.brand {
    font-family: peachy-keen-jf, sans-serif;
    display: flex;
    align-items: center;
    width: 400px
}
.brand a {
    color: white;
    text-decoration: none;
    font-size: 28px
}
.navLinks>ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding-left: 0
}
.navLinks li {
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 19px 15px;
    letter-spacing: .5px
}
.navLinks a {
    color: #bababa;
    text-decoration: none
}
.active {
    background-color: black
}
.active>a {
    color: white
}
.navLinks a:hover {
    color: white
}
.profilePic {
    display: flex;
    align-items: center
}
.Hamburger {
    display: none
}
.right {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: flex-end
}*/
@media screen and (max-width: 1016px) {
    .navLinks,
    .profilePic,
    .right .SearchForm,
    .right .btnLogout,
    .right .btnLogin,
    .right .btnRegister {
        display: none
    }
    .Hamburger {
        display: flex;
        align-items: center
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s
}
.sidenavlinks a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1
}
.sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white
}
.sidenav .closebtn:hover {
    text-decoration: none
}
#main {
    transition: margin-right .5s
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px
    }
    .sidenav a {
        font-size: 18px
    }
}
/*footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background: #000000;
    z-index: 10;
    display: flex;
    justify-content: space-between
}
.footerlinks {
    text-decoration: none;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}
.footerright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px
}
.footerright>span {
    color: #636363;
    padding-right: 10px
}
.footerlinks>a,
.footerlinks>span {
    color: #636363;
    padding-left: 30px
}
.footerlinks>a:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}*/
@media screen and (max-width: 686px) {
    footer {
        display: none
    }
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center
}
.social-icons>a {
    text-decoration: none;
    color: #636363;
    padding-left: 10px
}
.fa-twitter:hover {
    color: #1da1f2;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}
.fa-facebook:hover {
    color: #3b5998;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}
.fa-instagram:hover {
    color: #c13584;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}
.fa-youtube:hover {
    color: #cd201f;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}
.Intro {
    margin-top: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
    left: -50px;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 8px #545454
}
.Intro h1 {
    font-family: peachy-keen-jf, sans-serif;
    font-size: 60px
}
#Indicators .item {  
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*height: calc(100vh - 99px)*/
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 7px
}
.fill {
    width: 100%;
    height: 100%;
    /*background-size: cover;*/
    /*object-fit: cover*/
}
/*.carousel-item {
    height: calc(100vh - 99px);
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
*/
/*@media screen and (max-width: 687px) {
    #Indicators {
        height: calc(100vh - 59px)
    }*/
/*    .carousel-item {
        height: calc(100vh - 59px);
        background: no-repeat left left fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover
    }
*/    
.Intro>h1 {
    font-family: peachy-keen-jf, sans-serif;
    font-size: 40px
}
.Intro>h3 {
    font-size: 20px
}

/*.btn-outline-warning,
.btn-warning {
    height: 36px;
    margin-top: 1px
}
.btn-info:hover,
.btn-outline-warning:hover {
    cursor: pointer
}*/
/*body {
    background-color: #f7f9fa;
    margin: 0px;
    font-family: "proxima-nova", sans-serif
}*/
/*.SearchForm,
.SearchFormSidenav {
    display: flex
}*/
#homepage.container {
    width: 80%;
    padding-top: 59px
}
#contactpage.container {
    width: 80%;
    top: 89px
}
#featured.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1320px;
    top: 59px;
    padding-bottom: 70px
}
#new_user {
    width: 300px
}
#featured>h2 {
    padding-top: 30px
}
/*nav {
    position: fixed;
    background-color: #1f1f1f;
    height: 59px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 10
}
.brand {
    font-family: peachy-keen-jf, sans-serif;
    display: flex;
    align-items: center;
    width: 400px
}
.brand a {
    color: white;
    text-decoration: none;
    font-size: 28px
}
.navLinks>ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding-left: 0
}
.navLinks li {
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 19px 15px;
    letter-spacing: .5px
}
.navLinks a {
    color: #bababa;
    text-decoration: none
}
.active {
    background-color: black
}
.active>a {
    color: white
}
.navLinks a:hover {
    color: white
}
.profilePic {
    display: flex;
    align-items: center
}
.Hamburger {
    display: none
}
.right {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: flex-end
}*/
@media screen and (max-width: 1016px) {
    .navLinks,
    .profilePic,
    .right .SearchForm,
    .right .btnLogout,
    .right .btnLogin,
    .right .btnRegister {
        display: none
    }
    .Hamburger {
        display: flex;
        align-items: center
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s
}
.sidenavlinks a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1
}
.sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white
}
.sidenav .closebtn:hover {
    text-decoration: none
}
#main {
    transition: margin-right .5s
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px
    }
    .sidenav a {
        font-size: 18px
    }
}
/*footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background: #000000;
    z-index: 10;
    display: flex;
    justify-content: space-between
}
.footerlinks {
    text-decoration: none;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}
.footerright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px
}
.footerright>span {
    color: #636363;
    padding-right: 10px
}
.footerlinks>a,
.footerlinks>span {
    color: #636363;
    padding-left: 30px
}
.footerlinks>a:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}*/
@media screen and (max-width: 686px) {
    footer {
        display: none
    }
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center
}
.social-icons>a {
    text-decoration: none;
    color: #636363;
    padding-left: 10px
}
.fa-twitter:hover {
    color: #1da1f2;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}
.fa-facebook:hover {
    color: #3b5998;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}
.fa-instagram:hover {
    color: #c13584;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}
.fa-youtube:hover {
    color: #cd201f;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}
.Intro {
    margin-top: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
    left: -50px;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 8px #545454
}
.Intro h1 {
    font-family: peachy-keen-jf, sans-serif;
    font-size: 60px
}
#Indicators {
    top: 50px;
    height: calc(100vh - 99px)
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 7px
}
/*.fill {
    width: 100%;
    height: 100%;
    object-fit: cover
}
/*.carousel-item {
    height: calc(100vh - 99px);
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
@media screen and (max-width: 687px) {
    #Indicators {
        height: calc(100vh - 59px)
    }
    .carousel-item {
        height: calc(100vh - 59px);
        background: no-repeat left left fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover
    }
    .Intro>h1 {
        font-family: peachy-keen-jf, sans-serif;
        font-size: 40px
    }
    .Intro>h3 {
        font-size: 20px
    }
}*/
/*.btn-outline-warning,
.btn-warning {
    height: 36px;
    margin-top: 1px
}
.btn-info:hover,
.btn-outline-warning:hover {
    cursor: pointer
}
*/
