<body>
	<div class="c-wrapper">
		<div class="center-div">
		  <div class="container-fluid">
		    <div class="row">
		      <div class="col-sm-6 col-md-8">
		      	<h2>Thank you for your purchase!</h2>
		        <p class="normal_text"> Be sure to leave us a <%=link_to 'comment', product_path(@product)%>. </p>
		        <p class="normal_text">  Browse through our other <%= link_to 'bikes!', products_path %> </p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>  
</body>