/*
// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

/** { border: 1px solid red; }*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
}
body {
  min-height: 100%;
  padding-top: 45px; 
}

h1 {
  font-family: 'Audiowide', cursive, sans-serif;
  color: #333;
  text-align: left;
}

.img_prod1 {
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  max-height: 400px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
/*body { */
  /* Margin bottom by footer height */
/*  margin-bottom: 30px;
}*/

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

.footer {
    background-color: #f5f5f5;
    font-family: 'Audiowide', cursive, sans-serif;
    clear: both;
    color: #acacac;
    font-size: 2rem;
    text-align: center !important;
    padding-top: 1px;
    z-index: 100;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container */
.text-muted {
  /*margin: 20px 0;*/
  padding-top: 5px;
  font-size: 1.5rem;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* CSS to center a div 
---------------------------------------------------- */
.center-div {
  display: table;
  margin: 0 auto;
}
/*  */