<% if (@comments.total_entries > @comments.per_page) %>
  <hr>
  <%= will_paginate @comments, class:"flickr_pagination" %>  
<% end %>  
<div class="product-reviews">
  <% @comments.each do |comment| %>
      <%= render comment %>
  <% end %>
  <% if (@comments.total_entries > @comments.per_page) %>
    <hr>
    <%= will_paginate @comments, class:"flickr_pagination" %><br>
    <div class="center"><small><em>(<%= @comments.total_entries.to_s + " comments..." %>)</small></em></div>
  <% end %>
  <hr>
</div>

